{% extends 'bundles/EasyAdminBundle/default/layout.html.twig' %}
{% block content_header %}
    <h1 class="title">{% block content_title %}{{ 'menu.label.help'|trans }}{% endblock %}</h1>
{% endblock content_header %}
{% block main %}
    <div id="calendar"></div>
{% endblock %}