{% extends easyadmin_config('design.templates.layout') %}
{% block body_class 'page-content page-content-with-padding' %}

{% set _request_parameters = app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge(_request_parameters|default({}))|merge({
    action: app.request.get('action'),
    menuIndex: app.request.get('menuIndex'),
    submenuIndex: app.request.get('submenuIndex'),
    page: app.request.get('page', 1),
    referer: null
}) %}

{% block content_header %}
    <h1 class="title">{% block content_title %}{{ 'tools.title'|trans }}{% endblock %}</h1>
{% endblock content_header %}

{% block main %}
    {% include 'search.html.twig' %}
    {#<div>#}
        {#<!-- Entries -->#}
        {#{%  set i = 1 %}#}
        {#{% for bibleVerse in paginator.currentPageResults %}#}
            {#{% if i == 1 %}#}
                {#<div class="card mb-4">#}
                {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                {#<div class="card-body">#}
                {#<h2 class="card-title">{{ bibleVerse.book.canonicalName }}</h2>#}
                {#<p class="card-text">#}
                {#<sup>#}
                    {#<a href="{{#}
                    {#path('ranked_search') ~ '?searchTerms=' ~#}
                    {#bibleVerse.verseText|striptags#}
                    {#}}">#}
                        {#{{ bibleVerse.verseReference }}#}
                    {#</a>#}
                {#</sup> {{ bibleVerse.verseText|raw }} <br />#}
            {#{% elseif i == 2 %}#}
                {#<sup>#}
                    {#<a href="{{#}
                    {#path('ranked_search') ~ '?searchTerms=' ~#}
                    {#bibleVerse.verseText|striptags#}
                    {#}}">#}
                        {#{{ bibleVerse.verseReference }}#}
                    {#</a>#}
                {#</sup> {{ bibleVerse.verseText|raw }} <br />#}
            {#{% else %}#}
                {#<sup>#}
                    {#<a href="{{#}
                    {#path('ranked_search') ~ '?searchTerms=' ~#}
                    {#bibleVerse.verseText|striptags#}
                    {#}}">#}
                        {#{{ bibleVerse.verseReference }}#}
                    {#</a>#}
                {#</sup> {{ bibleVerse.verseText|raw }}#}
                {#</p>#}
                {#<a href="{{ path('home_book', {'id': bibleVerse.book.id}) }}"#}
                   {#class="btn btn-primary">{{ 'read_more'|trans }} &rarr;#}
                {#</a>#}
                {#</div>#}
                {#<div class="card-footer text-muted">#}
                    {#{{ bibleVerse.version.nameAbbreviation }}#}
                    {#<a href="#">{{ bibleVerse.version.canonicalName }}</a>#}
                {#</div>#}
                {#</div>#}
                {#{% set i = 0 %}#}
            {#{% endif %}#}
            {#{% set i = i + 1 %}#}
        {#{% endfor %}#}
    {#</div>#}
{% endblock %}

{#{% block content_footer %}#}
    {#{% block paginator %}#}
        {#{% include 'paginator.html.twig' %}#}
    {#{% endblock paginator %}#}
{#{% endblock %}#}