{% extends easyadmin_config('design.templates.layout') %}
{% block body_class 'page-content page-content-with-padding' %}

{% set _request_parameters = app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge(_request_parameters|default({}))|merge({
    action: app.request.get('action'),
    menuIndex: app.request.get('menuIndex'),
    submenuIndex: app.request.get('submenuIndex'),
    page: app.request.get('page', 1),
    referer: null
}) %}

{% block content_header %}
    <h1 id="content-header" class="title">{{ book.canonicalName }}</h1>
{% endblock content_header %}


{% block main %}
    <div class="container-fluid" style="max-width: 80%;">
        <!-- Entries -->
            {% for bibleVerse in paginator %}
        <div class="row justify-content-center align-items-center p-3">
                <div class="col-10">
                    <p class="h5" id="{{ bibleVerse.verseReference|replace({' ' : "", ":" : ""}) }}">
                        <sup>{{ bibleVerse.verseReference }}</sup>
                        {{ bibleVerse.verseText |raw}}
                    </p>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary" href="{{
                    path('ranked_search', {
                        searchTerms: bibleVerse.verseText|striptags,
                        bibleVersion: bibleVerse.version.id
                    }) }}">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
        </div>
            {% endfor %}
    </div>
{% endblock %}

{% block content_footer %}
    {% block paginator %}
        {% include 'paginator.html.twig' %}
    {% endblock paginator %}
{% endblock %}

{% block body_javascript %}
    <style type="text/css">
        @keyframes yellowfade {
            from {
                background: yellow;
            }
            to {
                background: transparent;
            }
        }
    </style>
    <!-- JavaScript -->
    <script type="application/javascript" language="JavaScript">
        $(window).on('load', function() {
            // Handler for .ready() called.
            if (window.location.hash) {
                let position = $(window.location.hash).offset().top;

                $("body, html").animate({
                    scrollTop: position  - ($('#content-header').outerHeight() + 200)
                }, 'slow');
                $(window.location.hash).css({
                    "animation": "yellowfade 3s"
                });
            }

            $('div > p').hover(
                function () {
                   $(this).css({
                       "background": "lightgray"
                   });
                },
                function() {
                    $(this).css({
                        "background": "transparent"
                    });
                }
            );

            // $(window.location.hash).addClass('bg-primary text-white');
            // setTimeout(function () {
            //     $(window.location.hash).removeClass('bg-primary text-white');
            // }, 4000);
        });
    </script>
{% endblock %}

