{% extends easyadmin_config('design.templates.layout') %}
{% block body_class 'page-content page-content-with-padding' %}

{% block body_javascript %}
    {{ parent() }}
    <style type="text/css">
        [data-toggle="collapse"] .fa:before {
        content: "\f139";
        }

        [data-toggle="collapse"].collapsed .fa:before {
        content: "\f13a";
        }
        .btn-group-xs > .btn, .btn-xs {
            padding  : .15rem .2rem;
            font-size  : .8rem;
            line-height  : .45;
            border-radius : .15rem;
        }
    </style>
{% endblock %}
{% block content_header %}
    <h1 class="mt-4">
    {% block content_title %}
        {% if book is defined %}
            {{ book.canonicalName }}
        {% else %}
            {{ pageTitle|trans }}
        {% endif %}
    {% endblock %}
    </h1>
{% endblock %}
{% block main %}
<div class="container-fluid" style="max-width: 80%;">
    <!-- Post Content Column -->
    <div class="row justify-content-center align-items-center">
        {#{% include 'search.html.twig' %}#}
        <div class="card col-12">
            <h3 class="card-header">
                <button class="btn btn-primary" type="button"
                        data-toggle="collapse" data-target="#summaryContent" aria-expanded="true"
                        aria-controls="summaryContent">
                    <i class="fa" aria-hidden="true"></i>
                </button>
                {{ 'tools.summary.title'|trans }}
            </h3>
            <div class="card-body show collapse" id="summaryContent">
                {% for sentence in summary %}
                    <p class="h5 p-1">
                        "{{ sentence|raw }}..."
                        <a class="btn btn-secondary btn-xs" href="{{
                        path('ranked_search', {
                            searchTerms: sentence|striptags,
                            bibleVersion: bibleVersion.id
                        }) }}" title="{{ 'tools.search.button_label'|trans }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="card col-12">
            <h3 class="card-header">
                <button class="btn btn-primary collapsed" type="button"
                        data-toggle="collapse" data-target="#keywordsContent" aria-expanded="false"
                        aria-controls="keywordsContent">
                    <i class="fa" aria-hidden="true"></i>
                </button>
                {{ 'tools.summary.keywords'|trans }}
            </h3>
            <div class="card-body collapse" id="keywordsContent">
                <p class="h5">
                {% for keyword, score in keyWords %}
                    <i>{{ keyword|raw }}</i>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

