p{
    font-size: 12px;
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}

p a{
    color: #218bdc;
    font-size: 12px;
    text-decoration: none;
}

a{
    outline: none;
}

.f-left{
    float:left;
}

.f-right{
    float:right;
}

.clear{
    clear: both;
    overflow: hidden;
}

#block_error{
    border: 1px solid #cccccc;
    margin: 72px auto 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff url(../images/exclamation.gif) no-repeat 0 51px;
}

#block_error div{
    padding: 100px 40px 0 186px;
}

#block_error div h2{
    color: #218bdc;
    font-size: 24px;
    display: block;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
    font-weight: normal;
}