{% extends easyadmin_config('design.templates.layout') %}
{% block body_class 'page-content page-content-with-padding' %}

{% block body_javascript %}
    {{ parent() }}
    <style type="text/css">
        [data-toggle="collapse"] .fa:before {
            content: "\f139";
        }

        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f13a";
        }
        .btn-group-xs > .btn, .btn-xs {
            padding  : .15rem .2rem;
            font-size  : .8rem;
            line-height  : .45;
            border-radius : .15rem;
        }

        .card-body > p {
            font-size: 1rem;
        }
    </style>
{% endblock %}

{% block content_header %}
        <h1 class="mt-4">{{ dictionaryResults.0.reference }}</h1>
{% endblock %}

{% block main %}
<div class="container-fluid" style="max-width: 80%;">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 accordion" id="accordionDictionaryResults">
            {% for entry in dictionaryResults %}
                <div class="col-12 card">
                    <div class="card-header" id="heading{{ entry.shortName }}">
                        <h3>
                            <button class="btn btn-primary {% if(loop.first == false) %}collapsed{% endif %}" type="button"
                                    data-toggle="collapse" data-target="#collapse{{ entry.shortName }}"
                                    aria-expanded="{% if(loop.first) %}true{% else %}false{% endif %}"
                                    aria-controls="collapse{{ entry.shortName }}">
                                <i class="fa" aria-hidden="true"></i>
                            </button>
                            {{ entry.canonicalName }}
                        </h3>
                    </div>
                    <div id="collapse{{ entry.shortName }}" class="collapse {% if(loop.first) %}show{% endif %}"
                         aria-labelledby="heading{{ entry.shortName }}"
                         data-parent="#accordionDictionaryResults">
                        <div class="card-body">
                            {{ entry.definition|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}