{% extends easyadmin_config('design.templates.layout') %}
{% block body_class 'page-content page-content-with-padding' %}

{% set _request_parameters = app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge(_request_parameters|default({}))|merge({
    action: app.request.get('action'),
    menuIndex: app.request.get('menuIndex'),
    submenuIndex: app.request.get('submenuIndex'),
    page: app.request.get('page', 1),
    referer: null
}) %}
{% block content_header %}
    <h1 class="title">{% block content_title %}{{ 'tools.search.results'|trans }}{% endblock %}</h1>
{% endblock content_header %}

{% block main %}
    {#{% include 'search.html.twig' %}#}
    <div class="container-fluid" style="max-width: 80%;">
            <!-- Entries -->
            {% for bibleVerse in paginator %}
        <div class="row justify-content-center align-items-center p-3">
                    <div class="col-12">
                        <h3>{{ bibleVerse.bibleBookCanonicalName }}</h3>
                    </div>
                        <div class="col-9">
                            <p class="h5 verse-text">
                                <sup>{{ bibleVerse.ref }}</sup>
                                {{ bibleVerse.verse_text |raw}}
                            </p>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-primary" href="{{
                            path('ranked_search', {
                                searchTerms: bibleVerse.verse_text|striptags,
                                bibleVersion: bibleVerse.bible_version_id
                            }) }}" title="{{ 'tools.search.button_label'|trans }}">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="btn btn-primary" href="{{
                            path('ranked_search', {
                                searchTerms: bibleVerse.verse_text|striptags,
                                bibleVersion: bibleVerse.bible_version_id,
                                searchSummary: 1
                            }) }}" title="{{ 'tools.summary.title'|trans }}">
                                <i class="fa fa-list"></i>
                            </a>
                            <a class="btn btn-primary" href="{{
                            path('book_index', {
                                id: bibleVerse.book_id,
                                chapter: bibleVerse.chapter_number,
                                verse: bibleVerse.verse_number,
                                bibleVersion: bibleVerse.bible_version_id
                            })
                            }}" target="_blank" title="{{ 'tools.browser.button_label'|trans }}">
                                <i class="fa fa fa-bookmark"></i>
                            </a>
                        </div>

        </div>
            {% endfor %}
    </div>
{% endblock %}

{% block content_footer %}
    {% block paginator %}
        {% include 'paginator.html.twig' %}
    {% endblock paginator %}
{% endblock %}


{% block body_javascript %}
    <!-- JavaScript -->
    <script type="application/javascript" language="JavaScript">
        let words = {{ relevantWords|json_encode|raw }};
        $.each(words, function(index, value){
            $(".verse-text").html(function (i, v) {
                let wordRegExp = new RegExp('(' + value + ')', 'gi')
                return v.replace(wordRegExp, '<strong><i>$1</i></strong>');
            });
        });
    </script>
{% endblock %}