{% trans_default_domain 'EasyAdminBundle' %}

{% set _paginator_request_parameters = _request_parameters|merge({'referer': null}) %}

<div class="list-pagination">
    <div class="list-pagination-counter">
        {{ 'paginator.results'|transchoice(paginator.nbResults)|raw }}
    </div>

    <div class="pager pagination list-pagination-paginator {{ not paginator.hasPreviousPage ? 'first-page' }} {{ not paginator.hasNextPage ? 'last-page' }}">
        <a class="btn btn-secondary {{ not paginator.hasPreviousPage ? 'disabled' }}"
           href="{{ not paginator.hasPreviousPage ? '#' : path(app.request.attributes.get('_route'), _paginator_request_parameters|merge({ page: paginator.previousPage }) ) }}">
            <i class="fa fa-angle-left"></i> <span class="btn-label">{{ 'paginator.previous'|trans }}</span>
        </a>

        <a class="btn btn-secondary {{ not paginator.hasNextPage ? 'disabled' }}"
           href="{{ not paginator.hasNextPage ? '#' : path(app.request.attributes.get('_route'), _paginator_request_parameters|merge({ page: paginator.nextPage }) ) }}">
            <span class="btn-label">{{ 'paginator.next'|trans }}</span> <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
