<!-- Search Widget -->
<div id="tools-forms" class="container-fluid">
    {#<h5>{{ 'tools.title'|trans }}</h5>#}
    <h6>{{ 'tools.search.title'|trans }}</h6>

    {{ form_start(dictSearchForm) }}
    <div class="form-row">
        <div class="col-12">
            <div class="form-group field-text">
                <div style="width: 100%;">
                    {{ form_widget(dictSearchForm.searchReference) }}
                </div>
            </div>
        </div>
        <div class="col col-12">
            <span class="form-actions">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                    {{ 'tools.search.button_label'|trans }}
                </button>
            </span>
        </div>
    </div>
    {{ form_end(dictSearchForm) }}

    {{ form_start(searchForm) }}
    <div class="form-row">
        <div class="col-auto">
            <div class="form-group">
                {{ form_widget(searchForm.bibleVersion) }}
            </div>
        </div>
        <div class="col-auto" style="min-width: 60%;">
            <div class="form-group">
                {{ form_widget(searchForm.searchTerms) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                {{ form_widget(searchForm.searchSummary) }}
                {{ form_label(searchForm.searchSummary) }}
                {#<span class="cr"><i class="cr-icon fa fa-check"></i></span>#}
            </div>
        </div>
        <div class="col col-12">
            <span class="form-actions">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                    {{ 'tools.search.button_label'|trans }}
                </button>
            </span>
        </div>
    </div>
    {{ form_end(searchForm) }}

    <h6>{{ 'tools.browser.title'|trans }}</h6>
    {{ form_start(browserForm) }}
    <div class="form-row">
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_widget(browserForm.bibleVersion) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_widget(browserForm.book) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_widget(browserForm.chapter) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_widget(browserForm.verse) }}
            </div>
        </div>
        <div class="col col-12">
            <span class="form-actions">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-bookmark"></i>
                    {{ 'tools.browser.button_label'|trans }}
                </button>
            </span>
        </div>
    </div>
    {{ form_end(browserForm) }}

    <h6>{{ 'tools.summary.title'|trans }}</h6>

    {{ form_start(summaryForm) }}
    <div class="form-row">
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_widget(summaryForm.bibleVersion) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_widget(summaryForm.book) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="m-0 p-0 form-group">
                {{ form_label(summaryForm.percent) }}
                {#{{ form_widget(summaryForm.percent) }}#}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {#{{ form_label(summaryForm.percent) }}#}
                {{ form_widget(summaryForm.percent) }}
            </div>
        </div>
        <div class="col-12">
            <span class="form-actions">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-list"></i>
                    {{ 'tools.summary.button_label'|trans }}
                </button>
            </span>
        </div>
    </div>
    {{ form_end(summaryForm) }}
</div>

{% include '@EasyAdmin/default/includes/_select2_widget.html.twig' %}

<script>
    $(document).ready(function () {
        $("#search_dictionary_form_searchReference").easyAutocomplete({
            url: function (phrase) {
                return "/search/references?phrase=" + phrase;
            },
            adjustWidth: false,
            getValue: "reference"
        });

        let $book = $('#browser_form_book');
        let $chapter = $('#browser_form_chapter');
        let $verse = $('#browser_form_verse');
        // When sport gets selected ...
        $book.change(function () {
            if ($book.val() !== null) {
                $chapter.prop('disabled', true);
                $verse.prop('disabled', true);
                let data = {};
                data['bookId'] = $book.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: '{{ path('chapters_search') }}',
                    type: 'get',
                    data: data,
                    success: function (response) {
                        $chapter.find('option:gt(0)').remove();
                        $verse.find('option:gt(0)').remove();
                        $.each(response, function (key, value) {
                            $chapter.append($("<option></option>")
                                .attr("value", value.chapter_number).text(value.chapter_number));
                        });
                        $chapter.prop('disabled', false);
                    }
                });
            }
        });

        $chapter.change(function () {
            if ($chapter.val() !== null) {
                let data = {};
                data['bookId'] = $book.val();
                data['chapterNumber'] = $chapter.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: '{{ path('verses_search') }}',
                    type: 'get',
                    data: data,
                    success: function (response) {
                        $verse.find('option:gt(0)').remove();
                        $.each(response, function (key, value) {
                            $verse.append($("<option></option>")
                                .attr("value", value.verse_number).text(value.verse_number));
                        });
                        $verse.prop('disabled', false);
                    }
                });
            }
        });

    });
</script>