{% macro render_menu_item(item, translation_domain) %}
    {% if item.type == 'divider' %}
        {{ item.label|trans(domain = translation_domain) }}
    {% else %}
        {% set menu_params = { menuIndex: item.menu_index, submenuIndex: item.submenu_index } %}
        {% set path =
            item.type == 'link' ? item.url :
            item.type == 'route' ? path(item.route, item.params) :
            item.type == 'entity' ? path('easyadmin', { entity: item.entity, action: 'list' }|merge(menu_params)|merge(item.params)) :
            item.type == 'empty' ? '#' : ''
        %}

        {# if the URL generated for the route belongs to the backend, regenerate
           the URL to include the menu_params to display the selected menu item
           (this is checked comparing the beginning of the route URL with the backend homepage URL)
        #}
        {% if item.type == 'route' and (path starts with path('easyadmin')) %}
            {% set path = path(item.route, menu_params|merge(item.params)) %}
        {% endif %}

        <a href="{{ path }}"
           class="{{ item.css_class|default('') }}"
           {% if item.target|default(false) %}target="{{ item.target }}"{% endif %}
           {% if item.rel|default(false) %}rel="{{ item.rel }}"{% endif %}>
            {% if item.icon is not empty %}<i class="fa {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|trans(domain = translation_domain) }}</span>
            {% if item.children|default([]) is not empty %}<i class="fa fa-angle-right treeview-icon"></i>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as helper %}

{% block main_menu_before %}{% endblock %}

{% set _translation_domain = (_entity_config.translation_domain)|default(easyadmin_config('translation_domain'))|default('messages') %}
<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
    {% if is_granted(['IS_AUTHENTICATED_FULLY','IS_AUTHENTICATED_REMEMBERED', 'IS_AUTHENTICATED_ANONYMOUSLY']) %}
        {% set _menu_items = easyadmin_config('design.menu') %}

        {% block main_menu %}
            {% for item in _menu_items %}
                {% block menu_item %}
                    {% if is_granted(item.roles) %}
                        {% set is_selected_menu = app.request.query.get('menuIndex')|default(-1) == loop.index0 %}
                        {% set is_selected_submenu = is_selected_menu and app.request.query.get('submenuIndex')|default(-1) != -1 %}
                        <li class="{{ item.type == 'divider' ? 'header' }} {{ item.children is not empty ? 'treeview' }} {{ is_selected_menu ? 'active' }} {{ is_selected_submenu ? 'submenu-active' }}">
                            {{ helper.render_menu_item(item, _translation_domain) }}

                            {% if item.children|default([]) is not empty %}
                                <ul class="treeview-menu">
                                    {% for subitem in item.children %}
                                        {% if  (subitem.roles is not defined) %}
                                            {% set subitem = subitem|merge({'roles': ['IS_AUTHENTICATED_FULLY','IS_AUTHENTICATED_REMEMBERED']}) %}
                                        {% endif %}
                                        {% block menu_subitem %}
                                            {% if is_granted(subitem.roles) %}
                                                <li class="{{ subitem.type == 'divider' ? 'header' }} {{ is_selected_menu and app.request.query.get('submenuIndex')|default(-1) == loop.index0 ? 'active' }}">
                                                    {{ helper.render_menu_item(subitem, _translation_domain) }}
                                                </li>
                                            {% endif %}
                                        {% endblock menu_subitem %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endblock menu_item %}
            {% endfor %}
        {% endblock main_menu %}
    {% endif %}
    {% if is_granted(['IS_AUTHENTICATED_FULLY','IS_AUTHENTICATED_REMEMBERED']) %}
        <li class="   ">
            <a href="{{ path('fos_user_security_logout') }}">
                <i class="fa fa-sign-out"></i>
                <span>{{ 'layout.logout' | trans({}, 'FOSUserBundle') }}</span>
            </a>
        </li>
    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <li class="   ">
            <a href="{{ path('fos_user_security_login') }}">
                <i class="fa fa-sign-in"></i>
                <span>{{ 'layout.login' | trans({}, 'FOSUserBundle') }}</span>
            </a>
        </li>
    {% endif %}
</ul>

{% block main_menu_after %}{% endblock %}
