{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
    <style>
        {{ easyadmin_config('_internal.custom_css')|raw }}
    </style>
{% endblock %}


{% block page_title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block content_header %}

{% endblock content_header %}

{% block main %}

    <div id="block_error">
        <h1 class="title">Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
    </div>

{% endblock %}